{% extends 'base/base.jinja' %}


{% block header %}
          {% include 'includes/logged-header.jinja' %}
{% endblock %}


{% block main %}


{% endblock %}

{% block footer %}
          {% include 'includes/footer.jinja' %}
{% endblock %}