{% extends 'base/base.jinja' %}
{% block title %}Home - {% endblock %}



{% block header %}

  {% if session_logged %}
    {% include 'includes/logged-header.jinja' %}
  {% else %}
    {% include 'includes/header.jinja' %}

  {% endif %}
{% endblock %}


{% block main %}



    <section>
      {% for post in posts %}
        <article class="post">
          <div class="post-info">
            <div class="post-header">
              <h2 class="post-title">{{ post.title }}</h2>
            </div>
            
            <p>{{ post.description }}</p>
          </div>


          <div class="content">
            {{ post.content|safe }}
          </div>

        </article>
      {% endfor %}
    </section>


{% endblock %}



{% block footer %}
  {% include "includes/footer.jinja" %}
{% endblock %}
