{% extends 'base/base.jinja' %}


{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/forms.css') }}">
{% endblock %}

{% block title %}Login - {% endblock %}



{% block header %}
    {% include "includes/header.jinja" %}
{% endblock %}

{% block main %}

    <div class="form-container">
        <form method="POST" action="{{ url_for('views.login') }}">

            {{ form.csrf_token }}
                <div class="form-section">
    
                    {{ form.email.label }}<br>
                    {{ form.email(size=50) }}
                </div>
                
                <div class="form-section">
                    {{ form.password.label }}<br>
                    {{ form.password(size=50) }}
                </div>
                
                {{ form.submit }}
        </form>
    </div>

{% endblock %}

{% block footer %}
    {% include "includes/footer.jinja" %}
{% endblock %}
