{% extends 'base/base.jinja' %}


{% block title %}Profile - {% endblock %}

{% block header %}
  {% include 'includes/logged-header.jinja' %}
{% endblock %}




{% block main %}
  <section>
    <article>

      asdadasdsadsadasdasdasdasdasd
    </article>

  </section>

{% endblock %}