@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {

  font-family: "Montserrat", sans-serif;



  --background:#03312E;
  --background-darker:#022421;

  --main-dark:#36D99D;
  --secondary:#29A678;
  --main:#30F2AB;
  --secondary-dark:#468C73;
}

* {
  margin:0px;
  padding:0px;
}


header {
  height:10vh;
  background-color: var(--background);
  color:whitesmoke;
  box-shadow: 0px 2px 3px var(--background-darker);
  margin-bottom:25px;
}

main{
  min-height:100vh;
}

section {
  min-height:100vh;
}

nav {
  display:flex;
  justify-content: space-between;
  min-width: 80%;
}

ul{
  display:flex;
  gap:45px;
}

li {
  list-style-type: none;
}


a {
  text-decoration: none;
  color:whitesmoke;
}

a:hover {
  text-decoration: underline;
}

button {
  background-color:transparent;
  border:none;

}
button:hover{
  cursor:pointer;


}

footer {
  height:150px;
  color:whitesmoke;
  background-color:rgb(12, 12, 12);
  margin-top:45px;
  padding:15px;
}
footer > .content-container{
  display:flex;
  justify-content: space-between;
}
.footer-list > h6{margin-bottom:4px;}

.footer-list > ul{
  display:flex;
  gap:15px;
  flex-direction: column;
  justify-content: space-around;
}


/* Classes */
.header-content-container{
  display:flex;
  width: 85vw;
  height:10vh;
  padding:0px 5vw;

  justify-content: space-between;
  text-align: center;
  align-items: center;

}


.content-container{
  padding:0px 10vw;
}


.flash-messages{
  padding:5px 0px 5px 0px;
  margin:5px 0px 5px 0px;
  display:block;
}

.flash-messages > li {
  display:flex;
 
  justify-content: space-between;

  align-content: center;
  align-items:center;


  padding:5px;
  margin:5px 0px;

  width:80vw;
  height:35px;

  border-radius:6px;

  font-weight: bold;


}

.flash-messages > li  > button{
  display:flex;

  justify-content: center;
  align-items: center;

  width:25px;
  height:25px;

  background:transparent;
  border:transparent;
}


.flash-messages > li > button:hover{
  cursor:pointer;
}


.post {
  margin:10px;
  border-radius:12px 12px 12px 12px;
  box-shadow:0px 1px 2px grey;
}


.post-info{
  display:flex;
  flex-direction:column;
  align-items: flex-start;
  align-content: flex-start;
  background-color:var(--background);
  color:whitesmoke;
  padding:15px;
  border-radius: 12px 12px 0px 0px;
}
.post-header {
  width:100%;
  display:flex;
  justify-content: space-between;
}
.content{
  padding:10px;
}
.post-edition {
  color:whitesmoke;

}
