<footer>
    <div class="content-container">
        
        <div class="footer-list">
            <h6>Links do Site</h6>
            <ul>
                <li><a></a></li>
                <li><a></a></li>
                <li><a></a></li>
            </ul>
        </div>
    
        <div class="footer-list">
            <h6>Fundadores</h6>
            <ul>
                <li><a>João Vítor</a></li>
                <li><a>Beltrano da Silva</a></li>
                <li><a>Lucas Madeira e Coelho</a></li>
            </ul>
        </div>

        <div class="footer-list">
            <h6>Redes Sociais</h6>
            <ul>
                <li><a>Linkedin</a></li>
                <li><a>Instagram</a></li>
                <li><a>Codepen</a></li>
            </ul>
        </div>
    
    </div>
</footer>